.about-content {
    background-color: rgba(35,157,96, 1);
    padding: 3rem 2rem;
    border-radius: 1rem;   
}

.about-content p {
    text-align: justify;
    font-size: 1.3rem;
}

.hen-icon {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

